
a {
    text-decoration: none;
}

.title {
    font-weight: normal;
    text-align: center;
}

.list {
    padding: 0 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.item {
    width: 90px;
    height: 140px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.item__api {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item__logo {
    overflow: hidden;
    border-radius: 20px;
}

.item__name {
    color: #000;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 3px;
}

.item__label {
    display: flex;
    padding: 1px 5px;
    border-radius: 5px;
    font-size: 12px;
    color: #fff;
    background: #337ab7;
}